body {
  background-color: rgb(148, 131, 183);
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  font: 1em;
  font-family: 'Courier New', Courier, monospace;
}

.content-dash {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
}

.content img {
  border-radius: 8px;
  width: 500px;

}

.atm-logo {}

.graffiti img {
  position: absolute;
  top: 10%;
  left: 55%;
}

.card {
  padding: 2em;
  margin: auto;
  max-width: 450px;
  min-width: 420px;
  height: 500px;
  background-color: aliceblue;
  border-top: 10px solid rgb(192, 189, 189);
}

.card-types img {
  width: 300px;
  /* filter: blur(5px); */
}

.outer-buttons {
  display: flex;
  justify-content: space-between;

}

.outer-buttons div {
  padding: 72px 0 15px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.outer-buttons button {
  background-color: #8f8b8b;
}

.outer-buttons-left button::after {
  border: 2px solid #8d8a8a;
  content: '';
  position: absolute;
  left: 18%;
  width: 25px;
  height: 0;
}

.outer-buttons-right button::before {
  border: 2px solid #8d8a8a;
  content: '';
  position: absolute;
  right: 18%;
  width: 25px;
  height: 0;
}

.card-types {
  text-align: center;
}

.card p {
  text-align: center;
}

.options-card {
  max-width: 350px;
  margin: inherit;
  border: 5px solid rgb(214, 213, 213);
  min-width: 290px;
  background-color: cornflowerblue;
  padding-bottom: 10px;
  position: absolute;
  top: 39%;
  left: 22%;
}

.list-options {
  display: flex;
  justify-content: space-between;
}

.list-options-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: right;
  padding-right: 5px;
}

.list-options-right span {
  padding-right: 10px;
}

.list-options-left {
  display: flex;
  align-content: flex-start;
  flex-flow: column;
  padding-left: 10px;
}

.list-options-left span {
  padding-left: 10px;
}

.account-balance {
  color: #3a3535;
  text-align: center;
}

.footer-text {
  display: flex;
  color: #3a3535;
  justify-content: flex-end;
  font-weight: bold;
  padding-right: 40px;
}

.options-card img {
  height: 100px;
  width: 90px;
  position: absolute;
}